body {
  margin: 0;
  padding: 10px 10px 0 10px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  background: #fff;
}

#imc {
  width: 100%;
  height: 350px;
  overflow: hidden;

  /* Adjust for work container and toolbar below img container */
  padding-bottom: 130px;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  #imc_container {
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
  }

  #imc_work_container {
    position: absolute;

    left: 0;
    right: 0;
    bottom: -95px;
    height: 95px;
  }

  #imc_container #imc_image_inline {
    position: absolute;
    bottom: 10px;
    right: 10px;

    & > * {
      display: inline-block;
      float: right;
      margin-left: 8px;
    }

    #imc_loading {
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
      display: none;
    }

    #imc_loading.loading {
      display: inline-block;
    }

    #imc_image_info {
      font-size: 80%;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.11em;
      color: #fff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
      opacity: 0.1;
      padding-top: 1px;
      transition: opacity ease-out 0.3s;
    }

    #imc_image_info.display {
      opacity: 0.9;
      transition: opacity ease-out 0.3s;
    }

    #imc_image_info.display:before {
      font-family: FontAwesome;
      margin-right: 4px;
      font-weight: 100;
    }

    #imc_image_info.display.image:before {
      content: "\f03e";
    }

    #imc_image_info.display.crop:before {
      content: "\f125";
    }

    #imc_croplocked {
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    }
  }
}


/**
 * Preview area and preview images
 */
.imc_preview_container {
  white-space: nowrap;
  position: relative;
  text-align: left;
  padding-left: 7px;

  &:after {
    display: block;
    position: absolute;
    content: "";
    width: 4px;
    top: 6px;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 8px 6px #fff;
  }

  .imc_preview_image_container {
    position: relative;
    display: inline-block;

    &:after,
    &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &.active:before {
      border-color: rgba(214, 219, 220, 0);
      border-bottom-color: #aaa;
      border-width: 11px;
      margin-left: -11px;
    }

    &.active:after {
      border-color: rgba(239, 243, 242, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }

    .imc_preview_image {
      position: relative;
      margin: 7px 7px 0 0;
      height: 80px;
      width: 80px;
      overflow: hidden;
      box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.2);

      &:hover {
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
      }

      span {
        position: absolute;
        bottom: 2px;
        left: 3px;
        font-size: 9px;
        line-height: 16px;
        color: #fff;
        font-weight: 300;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        padding: 0 3px;

        i, b {
          display: none;
        }
      }
    }

    &.warning .imc_preview_image span i {
      display: inline-block;
      padding-left: 4px;
      color: #FF4E66;
      background: none;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    &.locked .imc_preview_image span b {
      display: inline-block;
      padding-left: 4px;
      color: #fff;
      background: none;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
  }
}

/**
 * Default toolbar
 */
div.toolbar {
  position: absolute;
  bottom: -132px;
  border-top: 1px solid #D6DBDC;
  left: 0;
  right: 0;
  padding: 6px 0;
  width: 100%;
  height: 24px;
  overflow: hidden;

  a {
    margin-right: 0;
  }

  div.group {
    float: left;
    margin-left: 6px;

    &.right {
      float: right;
      margin-right: 6px;
    }
  }
}

/**
 * Simple button
 */
a.button,
a.toggle {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  vertical-align: middle;
}

a.button {
  background: #6C797A;
  color: #fff;
  line-height: 22px;
  padding: 0 8px;
  border-radius: 8px;
  font-weight: 100;
  display: block;
  float: left;

  &.secondary {
    background-color: #839595;
  }

  &.left,
  &.right {
    padding: 0 16px;
    text-align: center;
  }

  &.left {
    border-radius: 8px 0 0 8px;
    margin-right: 0;
    border-right: 1px solid #CDD5D6;
  }

  &.right {
    border-radius: 0 8px 8px 0;
    margin-right: 0;
  }

  &:hover {
    background-color: #586566;
  }
}





/**
 *
 * Toggle option, defaults to off
 *
 */
a.toggle {
  height: 20px;
  color: #6C797A;
  border-radius: 12px;
  padding: 0;

  /* Toggle label */
  em {
    display: inline-block;
    line-height: 20px;
    font-style: normal;
    vertical-align: middle;

    /* Use label as title instead */
    &.hint {
      display: none;
    }
  }

  /* Toggle options */
  & > span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    width: 50px;
    height: 20px;
    border-radius: 10px;

    line-height: 14px;

    background: #839595;

    /* Toggle option, default off */
    span {
      display: block;
      position: absolute;
      overflow: visible;

      width: 14px;
      height: 14px;
      top: 3px;
      left: 3px;
      border-radius: 7px;
      text-indent: 20px;

      background: #6C797A;
      color: #cfddde;

      /* Font awesome vector icon handling */
      i {
        text-indent: 3px;
      }

      /* On defaults to hidden */
      &.on {
        display: none;
      }
    }
  }

  /* Option on state */
  &.toggle.on > span {
    background: #6C797A;

    span.on {
      display: block;
      background: #839595;
      color: #ffffff;
      left: auto;
      right: 3px;
      text-indent: -23px;

      i {
        text-indent: 4px;
      }
    }
    span.off {
      display: none;
    }
  }
}
