#imc {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

    #imc_container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 135px;
        left: 0;
    }

    #imc_work_container {
        position: relative;
    }

    #imc_container #imc_image_inline {
        position: absolute;
        bottom: 10px;
        right: 10px;

        display: flex;
        flex-direction: row-reverse;

        & > * {
            display: flex;
            flex-direction: column;
            margin-left: 8px;

            & > * {
                margin-top: 8px;
            }
        }

        & > .imc_debug_group {
            display: none;
            background: white;
            padding: 5px;

            .toggle {
                span { margin-left: 5px; }
                .off { display: none; }
                &.on {
                    .on {
                        display: none;
                    }
                    .off {
                        display: inline;
                    }
                }
            }
        }

        #imc_loading {
            align-self: flex-end;
            font-size: 20px;
            line-height: 20px;
            color: #fff;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            display: none;
        }

        #imc_loading.loading {
            display: inline-block;
        }

        #imc_image_info {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            color: #e5e5e5;
            display: block;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 1.4px;

            margin-left: 0;
            padding: 1px 4px;

            opacity: 0.1;

            align-self: flex-end;
            transition: opacity ease-out 0.3s;
        }

        #imc_image_info.display {
            opacity: 1;
            transition: opacity ease-out 0.3s;
        }

        #imc_image_info.display:before {
            font-family: FontAwesome;
            margin-right: 4px;
            font-weight: 100;
        }

        #imc_image_info.display.image:before {
            content: "\f03e";
        }

        #imc_image_info.display.crop:before {
            content: "\f125";
        }

        #imc_croplocked {
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
        }
    }
}

#imc.imc_debug #imc_container #imc_image_inline .imc_debug_group {
    display: flex;
}

/**
 * Preview area and preview images
 */
.imc_preview_container {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    height: 130px;

    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid #333; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-track {
        background-color: #333;
        border-radius: 8px;
    }

    .imc_preview_image_container {
        background: #333;

        &:first-child {
            .imc_preview_image {
                transition: margin-left 0.1s;

                .dw-dir-rtl & {
                    transition: margin-right 0.1s;
                }
            }

            &.active {
                .imc_preview_image {
                    margin-left: 5px;

                    .dw-dir-rtl & {
                        margin-left: 8px;
                        margin-right: 5px;
                    }
                }
            }
        }

        &:last-child {
            .imc_preview_image {
                transition: margin-left 0.1s;
                margin-right: 0;
            }

            &.active {
                .imc_preview_image {
                    margin-right: 5px;

                    .dw-dir-rtl & {
                        margin-left: 5px;
                        margin-right: 0;
                    }
                }
            }
        }

        .imc_preview_image {
            position: relative;
            margin: 20px 8px 8px 0;
            height: 90px;
            width: 90px;
            overflow: hidden;
            border-radius: 4px;

            .dw-dir-rtl & {
                margin: 20px 0 8px 8px;
            }

            .crop-ratio-wrapper {
                background: #000;
                color: #fff;

                font-size: 12px;
                font-weight: 700;
                line-height: 14px;

                min-width: 32px;
                height: 18px;
                align-items: center;

                padding: 0 5px;

                display: flex;
                flex-direction: row;

                position: absolute;
                bottom: 0;
                left: 0;

                i {
                    display: none;
                }

                .crop-ratio-text {
                    overflow: hidden;
                }
            }

            .crop-ratio-icon {
                cursor: pointer;
                font-size: 14px;

                text-align: right;
                padding-left: 5px;
                min-width: 23px;
            }
        }

        &.active .imc_preview_image {
            box-shadow: 0 0 0 3px #000000, 0 0 0 5px #ffffff;
        }

        &.usable .imc_preview_image {
            .crop-ratio-icon {
                &::before {
                    content: "\f00c";
                    color: var(--dw-color-done, #26a037);
                }
            }
        }

        &.unusable .imc_preview_image {
            .crop-ratio-icon {
                &::before {
                    content: "\f05e";
                    color: var(--dw-color-alert, #ea1b1b);
                    font-weight: bold;
                }
            }
        }
    }
}
