body {
    margin: 10px;
    padding: 10px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

#imc_container {
    position: relative;
    width: 80%;
    height: 350px;
    -background: url('../img/bg_canvas.png') 0 0;
    background: #EFF3F2;

    /* Adjust for work container below img container */
    margin-bottom: 100px;
}

#imc_container canvas {
    background: rgba(0, 0, 0, 1);
}

#imc_work_container {
    position: absolute;

    left: 0;
    right: 0;
    bottom: -100px;
    height: 100px;

    background: #EFF3F2;
}


/**
 * Preview area and preview images
 */
.imc_preview_container {
    height: 80px;
}

.imc_preview_image {
    margin: 10px 0 0 10px;

    height: 80px;
    width: 80px;
    overflow: hidden;
    float: left;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.5);
}

.imc_preview_image.active {
    margin: 9px -1px -1px 9px;

    border: 1px solid #ffffff;
}

.imc_preview_image.warn {
    margin: 9px -1px -1px 9px;
    border: 1px solid #ff778d;
}

.imc_preview_image:hover {
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.imc_preview_image > img {

}


/**
 * Option, defaults to off
 */
a.option {
    display: inline-block;
    height: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #6C828C;
}

a.option em {
    display: inline-block;
    line-height: 20px;
    font-style: normal;
    vertical-align: middle;
}

a.option > span {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    padding: 0;

    width: 50px;
    height: 20px;
    border-radius: 10px;

    line-height: 14px;


    position: relative;

    background: #839595;
    color: #fff;
}

a.option > span span {
    display: block;
    position: absolute;
    overflow: visible;

    width: 14px;
    height: 14px;
    top: 3px;
    left: 3px;
    border-radius: 7px;
    text-indent: 20px;

    background: #6C797A;

}

a.option > span span.on {
    display: none;
}


/* Option on state */
a.option > span.on {
    background: #6C797A;
}

a.option.on > span span.on {
    display: block;
    background: #839595;
    left: auto;
    right: 3px;
    text-indent: -23px;
}

a.option.on > span span.off {
    display: none;
}