body {
    margin: 10px;
    padding: 10px;
}

#imc_container {
    position: relative;
    width: 80%;
    height: 350px;
    -background: url('../img/bg_canvas.png') 0 0;

    /* Adjust for work container below img container */
    margin-bottom: 100px;
}

#imc_container canvas {
    background: rgba(0, 0, 0, 1);
}

#imc_work_container {
    position: absolute;

    left: 0;
    right: 0;
    bottom: -100px;
    height: 100px;

    background: #EFF3F2;
}


/**
 * Preview area and preview images
 */
.imc_preview_container {
    height: 80px;
}

.imc_preview_image {
    margin: 10px 0 0 10px;

    height: 80px;
    width: 80px;
    overflow: hidden;
    float: left;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.5);
}

.imc_preview_image.active {
    margin: 9px -1px -1px 9px;

    border: 1px solid #ffffff;
}

.imc_preview_image.warn {
    margin: 9px -1px -1px 9px;
    border: 1px solid #ff778d;
}

.imc_preview_image:hover {
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.imc_preview_image > img {

}