body {
    margin: 10px;
    padding: 10px;
}

#imc_container {
    position: relative;
    width: 80%;
    height: 350px;
    background: url('../img/bg_canvas.png') 0 0;

    /* Adjust for work container below img container */
    margin-bottom: 70px;
}

#imc_container canvas {
    background: rgba(0, 0, 0, 0.3);
}

#imc_work_container {

    position: absolute;

    left: 0;
    right: 0;
    bottom: -60px;
    height: 60px;

    background: #f5f5f5;
}

.im_preview_image {
    margin: 10px 0 0 10px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    float: left;
}

.im_preview_image:hover {
    margin: 9px -1px -1px 9px;
    border: 1px solid #6699ff;
}

.im_preview_image > img {

}